@using System.Reflection.Metadata;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Busqueda</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
</head>
<body>
    <div class="row">
        <div class="col-md-3">
            <div class="p-3">
                <h2>Mostrar resultados por</h2>
                <h5><b>Área</b></h5>
                <ul>
                    @foreach (var item in (IEnumerable<dynamic>)(ViewData["categoriesList"])!)
                    {
                        string area = item;
                        <li class="list-group-item"> @Html.ActionLink(area, "SearchJob", new { area = item, type=ViewData["Type"], descriptionWords=ViewData["Words"], ubication=  ViewData["Ubication"], salary=@ViewData["SalaryRange"], experience=@ViewData["ExperienceYear"]}) </li>
                            }
                    @Html.ActionLink("Todas", "SearchJob", new {area = "Todas", type=ViewData["Type"], descriptionWords=ViewData["Words"], ubication=  ViewData["Ubication"], salary=@ViewData["SalaryRange"], experience=@ViewData["ExperienceYear"] })
                </ul>
            </div>
        </div>

        <div class="col-md-7">
            <br />
            <form class="container-fluid">
                <div class="input-group mt-2">
                    <span class="input-group-text">Ordenar por</span>
                    @Html.Hidden("area",ViewData["area"])
                    @Html.Hidden("type",ViewData["Type"])
                    @Html.Hidden("descriptionWords",ViewData["Words"])
                    @Html.Hidden("ubication",ViewData["Ubication"])
                    @Html.Hidden("salary",ViewData["SalaryRange"])
                    @Html.Hidden("experience",ViewData["ExperienceYear"])
                    @Html.DropDownList("ordenDef", ViewData["Orden"] as SelectList, new {@onchange="submitform();"})
                </div>
            </form>
            <br />
            <script>
                function submitform() {
                    $('form').submit();
                }
            </script>


            @foreach (var item in (IEnumerable<dynamic>)(ViewData["jobResultList"])!)
            {
                var base64Image = Convert.ToBase64String((item.jobPicture as byte[])!);
                var PictureSrc = String.Format("data:image/gif;base64,{0}", base64Image);

                <div class="container" style="background-color: #d1ccb1;">
                    <div class="row">
                        <div class="col-md-3 m-2">
                            <img src=@PictureSrc alt="" class="im">

                        </div>
                        <div class="col-md  m-3">
                            <h2>@item.jobName </h2>
                            <h5> @item.JobCompany </h5>
                            <h5><i class="bi bi-geo-alt-fill"></i> @item.jobCity</h5>
                            <div class="text-end">
                                <button type="button" class="bt text-bg-primary w-25">Ver oferta</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }






        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html> 