
@{
}
<br />
<br />
<center>
    <section>
        <div class="mar w-50">
            <div class="card-body">
                <div class="text-center">
                    <h1>
                        <img src="./multimedia/logo.png" alt="" width="40">
                        <b>EasyJob</b>
                    </h1>
                </div>
                <form class="row g-3 needs-validation" asp-action="signUp" asp-controller="User">

                    <div class="col-md-6">
                        <label for="validationCustom07" class="form-label"><b>Usuario: </b></label>
                        @Html.TextBox("email","", new{@type="email", @class="form-control",  @placeholder="nombre@ejemplo.com"})
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom08" class="form-label"><b>Contraseña: </b></label>
                        @Html.Password("password","", new{@class="form-control"})
                    </div>

                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>Nombre: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.TextBox("name","", new{@class="form-control",  @placeholder="Nombre"})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>Teléfono: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.TextBox("phone","", new{@class="form-control",  @placeholder="Phone"})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>LinkedIn: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.TextBox("linkedIn","", new{@class="form-control",  @placeholder="LinkedIn"})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>Dirección: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.TextBox("direction","", new{@class="form-control",  @placeholder="LinkedIn"})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>Tipo de cuenta: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.DropDownList("type",ViewData["AccountType"] as SelectList, new{@class="form-control",})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="col-auto">
                            <label for="validationCustom08" class="form-label"><b>Descripcion: </b></label>
                        </div>
                        <div class="col-10">
                            @Html.TextArea("description","", new{@class="form-control"})
                        </div>
                    </div>
                    <div class="row g-2 align-items-center">
                        <div class="row g-2 align-items-center">
                            <div class="col-auto">
                                <label for="validationCustom08" class="form-label"><b>Foto de Perfil: </b></label>
                            </div>
                            <div class="col-5">
                                <input id="picture" type="file" name="serviceImage" />
                            </div>
                        </div>
                    </div>






                    <div class="text-center">
                        <button type="submit" class="bt text-bg-primary w-50"><b>Registrarse</b></button>
                        <p class="text-muted">¿Ya tienes cuenta? <a href="#">Inicia sesión</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</center>
<br />
<br />