@using System.Globalization;
@{
    Company company = ViewData["companyData"] as Company;
    var base64LogoCompany = Convert.ToBase64String(company.companyPicture as byte[]);
    var logoCompanySrc = String.Format("data:image/gif;base64,{0}", base64LogoCompany);
}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Empresa</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
    </head>
    <section class="m-4">
        <div class="row mx-5">
          <div class="col-md-3 p-2">
            <img src=@logoCompanySrc alt="" class="im1">
        </div>
          <div class="col-md-5 p-2">
            <h2><b><u>@company.companyName </u></b></h2>
                <h5 class="my-3"><b>Descripcion:</b></h5>
            <p>@company.companyDescription</p>
        </div>
            <div class="col-md-4  mt-4">
                <ul>
                    <li class="list-group-item mt-4"><h5>Información de contacto:</h5></li>
                    <li class="list-group-item disabled m-1"><i class="bi bi-telephone-fill"></i> @company.companyPhone1</li>
                    <li class="list-group-item disabled m-1"><i class="bi bi-envelope"></i> @company.companyEmail</li>
                <li class="list-group-item  m-1"><i class="bi bi-linkedin"></i> <a href=@company.companyLinkedIn target="_blank">LinkedIn</a></li>
                <br />
                @if (1 == 1)
                {
                 <form asp-action="Details" asp-controller="Company">
                        @Html.Hidden("companyId",company.companyId)
                        <button type="submit" class="bt1 w-75" style="background-color: #12a24a;"><b>Publicar Plaza</b></button>
                 </form>  
                }
                </ul>
            </div>
        </div>
        </section>
        <section  class="m-4 justify-content-center">
            <div class="container">
            <h4><b>Puestos Publicados</b></h4>
            <div class="mar1 w-100">
                <div class="table-responsive">
                <div class="tbl-header">
                    <table style="width:100%;">
                        <thead>
                            <tr>
                                <th width="25%">Puesto Publicado</th>
                                <th width="25%">Ubicacion</th>
                                <th width="25%">Salario</th>
                                <th width="25%">Detalles</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="width:100%;overflow:auto; max-height:200px;">
                    <table style="width:100%;" class="table table-striped table-bordered table-sm">
                        @foreach (var item in (IEnumerable<dynamic>)(ViewData["jobPerCompany"])!)
                        {
                            string name = item.jobName;
                            string ubicacion = item.jobCity;
                            string salary = item.jobSalary.ToString("C", CultureInfo.CurrentCulture);

                            int id = item.jobId;
                            <tr>
                                
                                <td width="25%">@Html.Label("jobName", name)</td>
                                <td width="25%">@Html.Label("jobUbication", ubicacion)</td>
                                <td width="25%">@Html.Label("jobSalary", salary)</td>
                                <form asp-action="Job" asp-controller="Job">
                                    @Html.Hidden("jobId",id)
                                    <td><button type="submit" class="bt1 w-75" style="background-color: #12a24a;"><b>Detalles</b></button></td>
                                </form>
                            </tr>
                        }
                    </table>
                </div>
                </div>
            </div>
            </div>
        </section>
        <section class="m-4">
            <div class="row">
              <div class="col-3 justify-content-center text-center">
                <h4><b>Estadisticas</b></h4>
                <div class="table-responsive">
                  <table class="table align-middle table-borderless">
                    <tbody>
                      <tr>
                        <div class="p-1 ct2 m-3">
                            <b>Plazas publicadas<br><h5>@ViewData["countJobsPerCompany"]</h5></b>
                        </div>
                      </tr>
                      <tr>
                        <div class="p-1 ct2 m-3">
                                <b>Aplicaciones<br><h5>@ViewData["countApplicationsPerCompany"] </h5></b>
                        </div>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-8">
                <h4><b>Opiniones</b></h4>
                <div class="d-flex justify-content-end">
                    <b>Total de comentarios: @ViewData["TotalCommentsCount"]</b> 
                </div>
                <div>
                    <b class="text-primary">Comentarios:</b>
                @foreach (var item in (IEnumerable<dynamic>)(ViewData["companyOpinionResult"])!)
                {
                    if (item.AnomComment == true)
                    {
                        <p>
                            <img src="https://cdn-icons-png.flaticon.com/512/892/892749.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                            <a class="text-primary">Anonimo </a>
                            @item.CompanyOpinion
                        </p>
                    }
                    else
                    {
                        var base64Img = Convert.ToBase64String((item.EmployeePicture as byte[])!);
                        var pictureSrc = String.Format("data:image/gif;base64,{0}", base64Img);
                        <p>
                            <img src=@pictureSrc alt="" width="30" height="30" class="d-inline-block align-text-top">
                            <a class="text-primary">@item.EmployeeName </a>
                            @item.CompanyOpinion
                        </p>
                    }

                }

                    
                </div>
            <div class="form-floating col-9">
                <form asp-controller="Company" asp-action="SendComment">
                    @Html.TextArea("companyOpinion","", new { @class="form-control", @placeholder="Deja tu opinion sobre esta empresa aqui", @id="floatingTextarea2", @style="height: 100px; width:100%"})

                    @Html.Hidden("companyOpinionTimeStamp", DateTime.Now)
                    @Html.Hidden("employeeId", 1)
                    @Html.Hidden("companyId", company.companyId)
                    <div class="form-floating col-4">
                        @Html.CheckBox("companyOpinionAnom",true)
                        <span>Comentario Anonimo</span>
                        <button type="submit" class="bt1 w-100" style="background-color: #12a24a;"><b>Enviar</b></button>
                     </div>

                </form>

            </div>

              </div>
               </div>
    
            </div> 
          </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>   