@model JobSearch_Grupo7.Models.sources_pages

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>sources_pages</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.linksToSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.linksToSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.advice_day)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.advice_day)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_source">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
